@import "tailwindcss";

/* Tailwind v4 다크모드 정의 */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white/85 text-black dark:bg-zinc-950 dark:text-white;
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}
